body {
    /* background-color: #E5E5E5; */
    background-color: #dee0e3;
    font-family: sans-serif;

}

.section--1 {
    background-color: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
}

.section--2 {
    /* background-color: #E5E5E5; */
    background-color: #eff4fd;
    padding-top: 2em;
    padding-bottom: 2em;
}

.navigation-bar {
    /* background-color: #354955; */
    background-color: #edeef0;
    height: 50px;
    display: flex;
    gap: 23px;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.nav-link {
    color: black;
    padding-top: 0.5em;
}

.hero {
    /* background-color: #1F2428; */
    /* background-color: moccasin; */
    min-height: 70vh;
    color: black;
    background-image: url(../images/scene1.jpg);
    object-fit: cover;
    position: relative;
    background-size: cover;
    background-position: center;
}

#profile_pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.hero--content {
    width: 800px;
    margin: 0 auto;
    padding-top: 3em;

}

.hero--content--intro {
    display: flex;
    color: #fff;
    align-items: center;
    gap: 2em;
    justify-content: center;
    margin-bottom: 3em;
}

.intro--name {
    font-size: 100px;
    letter-spacing: .1em;
    font-weight: 600;

}

.hero--content--subheadline {
    color: #fff;
}

.description {
    font-size: 65px;
    text-align: center;
}

.slogan {
    font-size: 24px;
    text-align: center;
}

.my--project {
    font-size: 34px;
    font-weight: bold;
}

.project--wrapper {
    display: flex;
    justify-content: flex-start;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow-x: auto;
}

.project--wrapper::-webkit-scrollbar {
    width: 2px;

}

.project--wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: none;

}

.project--wrapper::-webkit-scrollbar-thumb {
    background-color: #197c8b;
    outline: 1px solid slategrey;
    border-radius: 100px;

}

.project--wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #197c8b;
}

.project--column {
    min-width: 300px;
}

.project--thumbnail {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.project--body {
    background-color: #fff;
    padding: 1em;
}

.skills--container {
    width: 600px;
    margin: 0 auto;
}

.skill--wrapper {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    gap: 2em;
    align-items: center;
}

.skill-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;

}

.skill--tag {
    background-color: #C4E7F2;
    width: fit-content;
    padding: 3px 20px;
    border-radius: 20px;
}

.contact--form {
    display: block;
    max-width: 600px;
    margin: 0 auto;

}

@media (max-width:900px) {
    .hero--content--intro {
        flex-direction: column;
    }

    .project--wrapper {
        grid-template-columns: 1fr;
    }
}

@media (max-width:600px) {
    .skills--container {
        width: 100%;
    }
}

@media (max-width:800px) {
    .hero--content {
        width: 100%;
    }
}

@media (max-width:400px) {

    .skill--wrapper {
        flex-flow: column;

    }
}