{% extends 'base/main.html' %}
{% load static %}
{% block content %}


<section class="section--1">
    <div class="container">

        <form class="contact--form" method="POST">
            <h3>GET IN TOUCH</h3>

            {% csrf_token %}
            {% for field in form %}

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">{{field.label}}</label>
                {{field}}
            </div>
            {% endfor%}
            <input class="btn btn-primary" type="submit" value="Send Message">
        </form>
    </div>
</section>
{% endblock content %}